.head {
  background-color: $base-background;
  color: $text-primary;
  min-height: 100vh;
  padding: 1px;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
}

.body-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
