:root {
  line-height: 2rem;
  --text-primary: #{$text-primary};
  --base-background: #{$base-background};
  --outline: #{$outline};
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
}
